#sidebar {
    height: 75%;
    width: 250px;
    position: fixed;
    background-color: red;
    padding-top: 20px;
    }
#sidebar a:hover {
    color: #f1f1f1;
    }
#main {
    margin-left: 250px;
    font-size: 14px;
    padding: 0px 30px;
    }
h1, h2, h3 {
    font-size: 30px;
    color: red;
    }
body {
    background-color: springgreen;
    }
.abilites {
    float: right;
    display: block;
    margin: 0 0 200px 150px;
    border: 3px solid #eb0808;
    width: 25%;
    }

#rightpic {
    float: right;
    margin-right:10px;
    margin-bottom:10px;
    }